<div id="user-dashboard">

  <div id="dashboard-header">
    <div id="dashboard-name"><%= @facade.user.name %>'s Dashboard</div>
    <div id="dashboard-buttons">
      <%= link_to "Take a Quiz", "/quiz", id: "take-quiz-button" %>
      <%= link_to "Sign Out", "/signout", id: "sign-out-button" %>
    </div>
    <div id="dashboard-announcement">
    </div>
  </div>

  <div id="tables-container">
    <div class="scores-container">
      <div class="table-title">Your Previous Scores</div>
      <table class="scores-table" id="previous-scores">
        <thead>
          <tr>
            <th>Date</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% @facade.previous_scores.each do |score| %>
            <tr class="entry">
              <td><%= Date.rfc3339(score[:created_at]).strftime("%m/%d/%y") %></td>
              <td><%= score[:number_correct] %> / 20</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="scores-container">
      <div class="table-title">High Scores</div>
      <table class="scores-table" id="high-scores">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% @facade.high_scores.each do |score| %>
            <tr class="entry">
              <td><%= Date.rfc3339(score[:created_at]).strftime("%m/%d/%y") %></td>
              <td><%= score[:name] %></td>
              <td><%= score[:number_correct] %> / 20</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>