<!DOCTYPE html>
<html>
  <head>
    <title>GeographyQuizFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% unless current_user %>
      <script src="https://accounts.google.com/gsi/client" async defer></script>
      <div id="g_id_onload"
          data-client_id="<%= @client_id %>"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="http://localhost:3000/signin"
          data-auto_prompt="false">
      </div>

      <div class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="outline"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left">
      </div>
    <% end %>    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
        <img id="background-image" src="<%= asset_path('earth.png') %>" />
    <%= yield %>
  </body>
</html>
